* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    border: 2px solid black;
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    width: 100%;
    background: #9ec3df;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    z-index: 1000;

}

.logo {
    width: 70px;
    height: 52px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

nav a:hover {
    color: #f47b20;
}

.book-btn {
    background: #f47b2a;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: bold;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    padding: 120px 10%;


}

.hero-content {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 1400px;

}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    max-width: 650px;
    height: auto;
}

.hero-text {
    flex: 1;

}

.hero-text h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;

}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #f47b2a;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-secondary {
    background: white;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: bold;
    border: 1px solid #333;
}

.dark {
    background-color: #333;
    color: white;
}

.section {
    padding: 100px 10%;
}

.section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba (0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
}

.small-btn {
    display: inline-block;
    margin-top: 15px;
    background: #f47b20;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.faq-list {
    max-width: 900px;
    margin: auto;
}

.faq-list p {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-section {
    text-align: center;

}

.book-section p {
    margin-bottom: 30px;
}

.book-section a {
    margin: 10px; 
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

/* ==============
EXPLORE PAGE
========== */
.explore-main {
    padding-top: 100px;
    background: #f8f8f8;
}

.explore-header {
    display: flex;
    justify-content: flex-end;
    padding: 50px 10% 20px;
}

.explore-title-container {
    max-width: 520px;
}

.explore-title-container h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.explore-title-container p {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* Food Section */

.food-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 70px 10%;
}

.food-left {
    flex: 1;
}

.food-left img {
    width: 100%;
    max-width: 600px;
    height: 360px;
    object-fit: cover;
    border-radius: 12px;
}

.food-right {
    flex: 1;
}

.info-block {
    margin-bottom: 40px;
}

.info-block h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.info-block p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* attractions section */

.attractions-section {
    padding: 90px 10%;
    background: #f1f1f1;
}

.attractions-section h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.attraction-card {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1)
}

.attraction-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.attraction-card h3 {
    font-size: 1.5rem;
    margin: 20px 20px 10px;
}

.attraction-card p {
    margin: 0 20px 20px;
    line-height: 1.6;
}

.attraction-card a {
    display: inline-block;
    margin: 0 20px 25px;
    background: #f46b20;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Explore call to action */

.explore-cta {
    padding: 90px 10%;
    text-align: center;
}

.explore-cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.explore-cta p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}


/* ================
    Lodging Page
    =========== */

.lodging-main {
    padding-top: 100px;
    background: #f8f8f8;
}

.lodging-header {
    padding: 50px 10% 20px;
}

.lodging-header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.lodging-header p {
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 1.7;
}

.lodging-feature {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 10%;
}

.lodging-image-large {
    flex: 1;
    max-width: 480px;
}

.lodging-image-large img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}

.lodging-options {
    padding: 70px 10% 100px;
}

.lodging-options h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.lodging-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.lodging-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.lodging-card h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.lodging-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.lodging-card p {
    line-height: 1.6;
    margin-bottom: 15px;
}



/* ==========
Transportation Page
=========== */

.transportation-main {
    padding-top: 100px;
    background: #f8f8f8;
}

.transportation-header{
    padding: 50px 10% 20px;
}

.transportation-header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.transportation-header p {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.7;
}

.transportation-feature {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px 10%;
}

.transportation-image-large {
    flex: 1;
}

.transporation-image-large img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.transportation-info {
    flex: 1;
}

.transportation-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.transportation-info p {
    margin-bottom: 15px;
    line-height: 1.7;
}

.transportation-options {
    padding: 80px 10%;
}


.transportation-options h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.transportation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.transport-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.transport-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.transport-card h3 {
    margin-bottom: 15px;
}

.transport-card p { 
    line-height: 1.6;
}

.walking-section {
    text-align: center;
    padding: 80px 10% 100px;
}

.walking-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.walking-section p {
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.7;
}

/* =========
FAQ PAGE
=========== */

.faq-main {
    padding-top: 100px;
    background: #f8f8f8;
}

.faq-header {
    padding: 50px 10% 20px;
}

.faq-header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.faq-header p {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.7;
}

.faq-feature {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px 10%;
}

.faq-image-large {
    flex: 1;
}

.faq-image-large img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.faq-intro {
    flex: 1;
}

.faq-intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.faq-intro p {
    line-height: 1.7;
}

.faq-section {
    padding: 80px 10%;
}

.faq-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.faq-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);


}

.faq-card h3 {
    margin-bottom: 15px;
    color: #f47b20;
}

.faq-card p {
    line-height: 1.6;
}

.travel-cta {
    text-align: center;
    padding: 80px 10% 100px;
}

.travel-cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.travel-cta p {
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.7;
}


/* Activity Details page */

.activities-main {
    padding-top: 100px;
    background: #f8f8f8;
}

/* Page Header */

.activities-header {
    padding: 50px 10% 20px;
}

.activities-header {
    padding: 50px 10% 20px;
}

.activities-header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.activities-header p {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.7;
}

/* Activity Cards */

.activity-detail {
    display: flex;
    align-items: center;
    gap: 50px;
    background: white;
    margin: 40px 10%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.activity-detail img {
    width: 40%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.activity-info {
    flex: 1;
}

.activity-info p {
    margin-bottom: 12px;
    line-height: 1.7;
}

/* CTA */

.activity-cta {
    text-align: center;
    background: white;
    margin: 60px 10% 100px;
    padding: 60px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.activity-cta h2 {
    font-size: 2.5rem;
    margin-bottom: 15px
}

.activity-cta p {
    margin-bottom: 30px;
    line-height: 1.7;
}

/* =============
Booking Page
========= */ 

.booking-main {
    padding-top: 100px;
    background: #f8f8f8;
}

.booking-header {
    padding: 50px 10% 20px;
}

.booking-header h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.booking-header p {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.7;
}

.booking-content {
    display: flex;
    gap: 50px;
    padding: 50px 10% 100px;
}

.booking-info {
    flex: 1;
}

.booking-info h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.booking-option {
    background: white;
    padding: 22px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.booking-option h3 {
    color: #f47b20;
    margin-bottom: 10px;
}

.booking-option p {
    line-height: 1.6;
}

.booking-form {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.booking-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.booking-form button {
    width: 100%;
    background: #f47b20;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

}

.booking-form button:hover {
    background: #d96312;
}